<footer id="footer" class="sixteen columns" data-hook>
  <div class="container">
    <div class="four columns">
      <%= image_tag "spree/frontend/ofrog-small2.png", :alt => "Spree Demo Theme", :id => "footer-logo" %>
      <br>
      <br>
      <div class="phone">
        <a href="callto:01723369166">Tel: 01723369166</a>
        </div>
      <br>
      <div class="email">
        <a href="mailto:info@theorangefrog.co.uk">info@theorangeforg.co.uk</a>
      </div>
      <br>
      <div class="address">
        Scarborough Store 
        <br>
        79 Newborough Street
        <br>
        Scarborough
        <br>
	North Yorkshire
	<br>
	YO11 1ET
	<br>
        UK 
      </div>
    </div>
    
    
    <div class="four columns">
      <h5>Information</h5>
      <ul>
        <li><a href="/delivery">Delivery Info</a></li>
        <li><a href="/policy">Privacy Policy</a></li>
        <li><a href="/terms-ship">Terms and Conditions</a></li>
      </ul>
    </div>
    
    <div class="four columns">
      <h5>Customer Service</h5>
      <ul>
        <li><a href="/contact">Contact</a></li>
      </ul>
    </div>

    <div class="four columns">
      <h5>Connect</h5>
       <div>

      <%= image_link_to "spree/frontend/twitter.png", "https://www.twitter.com/orangefrogdc" %>
      <%= image_link_to "spree/frontend/pinterest.png", "http://www.pinterest.com" %>
      <%= image_link_to "spree/frontend/facebook.png", "http://www.facebook.com/pages/The-Orange-Frog/179001508956382" %>
      <%= image_link_to "spree/frontend/email.png", "mailto:info@theorangefrog.co.uk" %>
      </div>
    
  </div>
</footer>
