<footer id="footer" class="sixteen columns" data-hook>
  <div class="container">
    
    <div class="four columns">
      <%= image_tag "spree/frontend/ofrog-small2.png", :alt => "Spree Demo Theme", :id => "footer-logo" %>
      <br>
      <br>
      <div class="phone">
        <a href="callto:01947605400">01947605400</a>
        </div>
      <br>
      <div class="email">
        <a href="mailto:info@theorangefrog.co.uk">info@theorangeforg.co.uk</a>
      </div>
      <br>
      <div class="address">
        Store 01
        <br>
        UK 
      </div>
    </div>
    
    <div class="four columns">
      <h5>Our Best Offers</h5>
      <ul>
        <li><a href="/products">New Products</a></li>
        <li><a href="/products">Top Sellers</a></li>
        <li><a href="/products">Specials</a></li>
        <li><a href="/products">Manufacturers</a></li>
        <li><a href="/products">Suppliers</a></li>
        <li><a href="/products">Service</a></li>        
      </ul>
    </div>
    
    <div class="four columns">
      <h5>Regular Services</h5>
      <ul>
        <li><a href="/products">Contact</a></li>
        <li><a href="/products">Shipping Info</a></li>
        <li><a href="/products">Returns</a></li>
        <li><a href="/products">F.A.Q.</a></li>
        <li><a href="/products">Size Chart</a></li>
        <li><a href="/products">Personal Shopper</a></li>
      </ul>
    </div>
    
    <div class="four columns">
      <h5>Social</h5>
<div>

      <%= image_link_to "spree/frontend/twitter.png", "http://www.twitter.com" %>
      <%= image_link_to "spree/frontend/pinterest.png", "http://www.pinterest.com" %>
      <%= image_link_to "spree/frontend/facebook.png", "http://www.facebook.com/pages/The-Orange-Frog/179001508956382" %>
      <%= image_link_to "spree/frontend/email.png", "mailto:info@theorangefrog.co.uk" %>
</div>
    
  </div>
</footer>
